@import url("./global.css");

body {
  background-color: var(--primary-color);
}

main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
}

main .logo {
  color: white;
  font-size: 3rem;
}

main .card {
  margin-top: 40px;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

main .panel__field {
  width: 100%;
}

main .panel__field input {
  padding: 20px;
  background-color: var(--gray-color);
  width: 100%;
  border-radius: 1.2em;
  transition: all 0.3s ease-in-out;
  border: 2px solid var(--gray-color);
}

main .panel__field input:hover,
main .panel__field input:focus {
  border: 2px solid var(--secondary-color);
}

main .panel__field .panel__field__optional {
  display: flex;
  justify-content: space-between;
}

main .panel__field .panel__field__optional .panel__field__optional__rememberme {
  display: flex;
  gap: 10px;
  white-space: nowrap;
}

main .panel__field .panel__field__optional a {
  text-decoration: none;
}

main .panel__field .btn-submit {
  background-color: var(--dark-color);
  display: block;
  width: 100%;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

main .panel__field .btn-submit:hover {
  background-color: #5b5b5b;
}

/* TABLET UP */
@media (min-width: 768px) {
  main .card {
    min-width: 24rem;
  }
}

/* DESKTOP UP */
@media (min-width: 992px) {
}
