@import url("./../global.css");
@import url("./../dashboard-template.css");

.dashboard .dashboard__content .dashboard__content__statistics-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.dashboard .dashboard__content .dashboard__content__statistics-1 .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.dashboard .dashboard__content .dashboard__content__statistics-1 .card::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0%;
  z-index: 1;
  background-color: var(--primary-color);
  border-radius: 1.2em;
  transition: all 0.3s ease-in-out;
}

.dashboard .dashboard__content .dashboard__content__statistics-1 .card * {
  position: relative;
  z-index: 1;
}

.dashboard .dashboard__content .dashboard__content__statistics-1 .card:hover {
  color: white;
  cursor: pointer;
}

.dashboard
  .dashboard__content
  .dashboard__content__statistics-1
  .card:hover::before {
  width: 100%;
}

.dashboard
  .dashboard__content
  .dashboard__content__statistics-1
  .card
  .card__information
  i {
  font-size: 3rem;
}

.dashboard
  .dashboard__content
  .dashboard__content__statistics-1
  .card
  .card__information
  p {
  margin-top: 10px;
  font-weight: 500;
}

.dashboard
  .dashboard__content
  .dashboard__content__statistics-1
  .card
  .card__count {
  font-size: 3.5em;
  font-weight: 600;
}

.dashboard .dashboard__content .dashboard__content__statistics-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-top: 30px;
}

.dashboard
  .dashboard__content
  .dashboard__content__statistics-2
  .card
  .card__header {
  font-size: 24px;
  padding: 10px 0px;
}

.dashboard
  .dashboard__content
  .dashboard__content__statistics-2
  .card
  .card__body {
  padding: 10px 0px;
}

.dashboard
  .dashboard__content
  .dashboard__content__statistics-2
  .card
  .card__body
  img {
  width: 100%;
}

/* TABLET UP */
@media (min-width: 768px) {
  .dashboard .dashboard__content .dashboard__content__statistics-1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .dashboard
    .dashboard__content
    .dashboard__content__statistics-1
    .card:last-child {
    grid-column: 1 / 3;
  }
}

/* DESKTOP UP */
@media (min-width: 992px) {
  .dashboard .dashboard__content .dashboard__content__statistics-1 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .dashboard
    .dashboard__content
    .dashboard__content__statistics-1
    .card:last-child {
    grid-column: 3/4;
  }

  .dashboard .dashboard__content .dashboard__content__statistics-2 {
    grid-template-columns: 2fr 1fr;
  }
}
